NODE_ENV=development
PORT=3000
LOG_LEVEL=info
SERVICE_NAME=web00-backend

DATABASE_URL="postgresql://web00_prisma_user:password@127.0.0.1:5433/web00_backend_dev?schema=public"
SHADOW_DATABASE_URL="postgresql://web00_prisma_user:password@127.0.0.1:5433/web00_backend_shadow?schema=public"
TEST_DATABASE_URL="postgresql://web00_prisma_user:password@127.0.0.1:5433/web00_backend_test?schema=public"
